
.projects-demo{
  margin-top: 150px;
  flex-wrap: wrap;
}

.projects-img{
  position: relative;
}

.projects-img img{
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.projects-img img:hover{
  opacity: .6;
}

@media screen and (min-width: 720px){
  .projects-img{
    max-width: 700px;
  }
  .projects-img img{
    max-width: 100% !important;
    max-height: 400px !important;
  }
}


@media screen and (min-width: 320px) and (max-width: 720px){
  .projects-img{
    max-width: 425px;
  }

  .projects-img img{
    max-width: 100% !important;
    max-height: 400px !important;
  }
}



